
.user-login-container {
    padding-top: 100px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
.signup-card{
    margin: auto;
    width: 480px;
    text-align: left;
    padding: 10px 50px;
    padding-bottom: 60px;
    border-radius: 20px;
    background: #ff4e84;
    color: white;
    display: flex;
    flex-direction: column;
    border: none;
    align-items: center;
}

.signup-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.signup-lebel-section{ 
    /* margin-bottom: 0!important; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
} 
.signup-input-section{
    padding: 12px;
    border-radius: 8px;
    width: 350px;
}
.form{
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.user-signup-btn {
    margin: 30px;
    padding: 10px;
    width: 350px;
    background-color: #4D4D4D;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    cursor: pointer;
}
.form-bottom{
    display: flex;
    flex-direction: row;
}
#a{
    text-decoration: none;
}

.link-decoration{
    text-decoration: none;
}
.PhoneInputInput {
    flex: 1 1;
    min-width: 0;
    height: 46px!important;
    border-radius: 12px!important;
}
@media screen and (max-width: 768px){
    .user-login-container {
        /* padding: 0px; */
        text-align: left;
        width: 100%;
    }
    .signup-card{
        margin: auto;
        width: 270px;
        /* padding: 100px 10px 20px 10px; */
        border-radius: 12px;
        align-items: center;
    }
    .signup-input-section{ 
        width: 260px;
        padding: 10px
    } 
    .user-signup-btn{
        width: 80px;
    }
    .form{
        text-align: left;
        display: block;
    }
}